@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.dark {
    --bg1-color: #131313;
    --bg2-color: #222222;
    --color: white;
}

.light {
    --bg1-color: #E8E8E8;
    --bg2-color: #EEEEEE;
    --color: black;
}

body {
    font-family: "Open Sans";
    --font-size: 18px;
    font-size: var(--font-size);
    color: var(--color);
    background-color: var(--bg1-color);
    flex-direction: column;
    margin: 0;
}

.navbarWrapper {
    display: flex;
    justify-content: center;
    background-color: var(--bg2-color);
    font-size: var(--font-size);
    flex-shrink: 0;
    box-shadow: inset 0 -3px #646464;
}

#bold {
    font-weight: bolder;
}

.flexWrapper {
    display: flex;
    min-height: 92vh;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 8vh;
    width: 90%;
}

.logo {
    padding-right: 2rem;
}

.links li {
    list-style: none;
    margin: 21px;
    display: inline;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.footer {
    box-shadow: inset 0 3px #646464;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg2-color);
}